<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- 主程序 -->
	<bean id="application" class="fx.hq.main.ApplicationFX">
		<property name="width" value="1000" />
		<property name="height" value="600" />
		<property name="title" value="短信、邮件发送程序(小胡)" />
		<property name="pane" ref="mainPane" />
		<property name="smsEntityDAO" ref="smsEntityDAO" />
	</bean>

	<bean id="mainPane" class="fx.hq.ui.MainPane">
		<property name="top" ref="topBar" />
		<property name="center" ref="centerAccordion" />
		<property name="bottom" ref="textArea" />
	</bean>
	
	<bean id="textArea" class="javafx.scene.control.TextArea">
	</bean>

	<!-- 顶端菜单栏 -->
	<bean id="topBar" class="fx.hq.ui.top.TopBar">
		<constructor-arg>
			<list>
				<ref bean="fileMenu" />
				<ref bean="toolMenu" />
				<ref bean="helpMenu" />
			</list>
		</constructor-arg>
	</bean>

	<bean id="centerAccordion" class="fx.hq.ui.center.VarargsAccordion">
		<constructor-arg>
			<list>
				<ref bean="sendSmsTitledPane" />
				<ref bean="receiveSmsTitledPane" />
				<ref bean="sendMailTitledPane" />
				<ref bean="receiveMailTitlePane" />
			</list>
		</constructor-arg>
		<property name="expandedPane" ref="sendSmsTitledPane" />
	</bean>

	<bean id="sendSmsTitledPane" class="javafx.scene.control.TitledPane">
		<property name="text" value="短信发送" />
		<property name="content" ref="sendSmsTableView" />
	</bean>

	<bean id="receiveSmsTitledPane" class="javafx.scene.control.TitledPane">
		<property name="text" value="短信接受" />
		<property name="content" ref="receiveSmsTableView" />
	</bean>

	<bean id="sendMailTitledPane" class="javafx.scene.control.TitledPane">
		<property name="text" value="邮件发送" />
	</bean>

	<bean id="receiveMailTitlePane" class="javafx.scene.control.TitledPane">
		<property name="text" value="邮件接收" />
	</bean>

	<!-- 发送短信的显示表格 -->
	<bean id="sendSmsTableView" class="fx.hq.ui.center.SendSmsTableView">
		<constructor-arg>
			<list>
				<ref bean="mobilePhoneColumn" />
				<ref bean="contentColumn" />
				<ref bean="sendTimeColumn" />
				<ref bean="userKeyColumn" />
				<ref bean="comEmpIdColumn" />
				<ref bean="msgTypeColumn" />
				<ref bean="userIdColumn" />
				<ref bean="userNameColumn" />
				<ref bean="organPidColumn" />
				<ref bean="linkManColumn" />
			</list>
		</constructor-arg>
	</bean>

	<!-- 接受短信的显示表格 -->
	<bean id="receiveSmsTableView" class="fx.hq.ui.center.ReceiveSmsTableView">
		<constructor-arg>
			<list>
				<ref bean="recIDColumn" />
				<ref bean="smsContentColumn" />
				<ref bean="smsTimeColumn" />
				<ref bean="smsCallerColumn" />
				<ref bean="readerAgentIDColumn" />
				<ref bean="organSmsColumn" />
			</list>
		</constructor-arg>
	</bean>
	
	<bean id="recIDColumn" class="javafx.scene.control.TableColumn">
		<property name="text" value="短信ID" />
		<property name="cellValueFactory" ref="recIDCell" />
	</bean>
	
	<bean id="smsContentColumn" class="javafx.scene.control.TableColumn">
		<property name="text" value="接受内容" />
		<property name="cellValueFactory" ref="smsContentCell" />
	</bean>
	
	<bean id="smsTimeColumn" class="javafx.scene.control.TableColumn">
		<property name="text" value="接受时间" />
		<property name="cellValueFactory" ref="smsTimeCell" />
	</bean>
	
	<bean id="smsCallerColumn" class="javafx.scene.control.TableColumn">
		<property name="text" value="发送人" />
		<property name="cellValueFactory" ref="smsCallerCell" />
	</bean>
	
	<bean id="readerAgentIDColumn" class="javafx.scene.control.TableColumn">
		<property name="text" value="未知" />
		<property name="cellValueFactory" ref="readerAgentIDCell" />
	</bean>
	
	<bean id="organSmsColumn" class="javafx.scene.control.TableColumn">
		<property name="text" value="接受部门" />
		<property name="cellValueFactory" ref="organSmsCell" />
	</bean>
	
	<bean id="recIDCell" class="javafx.scene.control.cell.PropertyValueFactory">
		<constructor-arg index="0" value="recID" />
	</bean>
	
	<bean id="smsContentCell" class="javafx.scene.control.cell.PropertyValueFactory">
		<constructor-arg index="0" value="smsContent" />
	</bean>
	
	<bean id="smsTimeCell" class="javafx.scene.control.cell.PropertyValueFactory">
		<constructor-arg index="0" value="smsTimeString" />
	</bean>
	
	<bean id="smsCallerCell" class="javafx.scene.control.cell.PropertyValueFactory">
		<constructor-arg index="0" value="smsCaller" />
	</bean>
	
	<bean id="readerAgentIDCell" class="javafx.scene.control.cell.PropertyValueFactory">
		<constructor-arg index="0" value="readerAgentID" />
	</bean>
	
	<bean id="organSmsCell" class="javafx.scene.control.cell.PropertyValueFactory">
		<constructor-arg index="0" value="receOrgan" />
	</bean>

	<!-- 发送邮件的显示表格 -->
	<bean id="sendMailTableView" class="fx.hq.ui.center.SendMailTableView">
	</bean>

	<!-- 接收短信的显示表格 -->
	<bean id="receiveMailTableView" class="fx.hq.ui.center.ReceiveMailTableView">
	</bean>

	<bean id="taskIdCell" class="javafx.scene.control.cell.PropertyValueFactory">
		<constructor-arg index="0" value="taskId" />
	</bean>
	<bean id="mobilePhoneCell" class="javafx.scene.control.cell.PropertyValueFactory">
		<constructor-arg index="0" value="mobilePhone" />
	</bean>
	<bean id="contentCell" class="javafx.scene.control.cell.PropertyValueFactory">
		<constructor-arg index="0" value="content" />
	</bean>
	<bean id="sendTimeCell" class="javafx.scene.control.cell.PropertyValueFactory">
		<constructor-arg index="0" value="sendTime" />
	</bean>
	<bean id="userKeyCell" class="javafx.scene.control.cell.PropertyValueFactory">
		<constructor-arg index="0" value="userKey" />
	</bean>
	<bean id="comEmpIdCell" class="javafx.scene.control.cell.PropertyValueFactory">
		<constructor-arg index="0" value="comEmpId" />
	</bean>
	<bean id="msgTypeCell" class="javafx.scene.control.cell.PropertyValueFactory">
		<constructor-arg index="0" value="msgType" />
	</bean>
	<bean id="userIdCell" class="javafx.scene.control.cell.PropertyValueFactory">
		<constructor-arg index="0" value="userId" />
	</bean>
	<bean id="userNameCell" class="javafx.scene.control.cell.PropertyValueFactory">
		<constructor-arg index="0" value="userName" />
	</bean>
	<bean id="organPidCell" class="javafx.scene.control.cell.PropertyValueFactory">
		<constructor-arg index="0" value="organPid" />
	</bean>
	<bean id="linkManCell" class="javafx.scene.control.cell.PropertyValueFactory">
		<constructor-arg index="0" value="linkMan" />
	</bean>

	<bean id="taskIdColumn" class="javafx.scene.control.TableColumn">
		<property name="text" value="短信ID" />
		<property name="cellValueFactory" ref="taskIdCell" />
	</bean>
	
	<bean id="mobilePhoneColumn" class="javafx.scene.control.TableColumn">
		<property name="text" value="手机号码" />
		<property name="cellValueFactory" ref="mobilePhoneCell" />
	</bean>

	<bean id="contentColumn" class="javafx.scene.control.TableColumn">
		<property name="text" value="短信内容" />
		<property name="cellValueFactory" ref="contentCell" />
	</bean>

	<bean id="sendTimeColumn" class="javafx.scene.control.TableColumn">
		<property name="text" value="发送时间" />
		<property name="cellValueFactory" ref="sendTimeCell" />
	</bean>

	<bean id="userKeyColumn" class="javafx.scene.control.TableColumn">
		<property name="text" value="userKey" />
		<property name="cellValueFactory" ref="userKeyCell" />
	</bean>

	<bean id="comEmpIdColumn" class="javafx.scene.control.TableColumn">
		<property name="text" value="comEmpId" />
		<property name="cellValueFactory" ref="comEmpIdCell" />
	</bean>

	<bean id="msgTypeColumn" class="javafx.scene.control.TableColumn">
		<property name="text" value="短信类型" />
		<property name="cellValueFactory" ref="msgTypeCell" />
	</bean>

	<bean id="userIdColumn" class="javafx.scene.control.TableColumn">
		<property name="text" value="系统帐号" />
		<property name="cellValueFactory" ref="userIdCell" />
	</bean>

	<bean id="userNameColumn" class="javafx.scene.control.TableColumn">
		<property name="text" value="发送人" />
		<property name="cellValueFactory" ref="userNameCell" />
	</bean>

	<bean id="organPidColumn" class="javafx.scene.control.TableColumn">
		<property name="text" value="发送机构" />
		<property name="cellValueFactory" ref="organPidCell" />
	</bean>

	<bean id="linkManColumn" class="javafx.scene.control.TableColumn">
		<property name="text" value="接收人" />
		<property name="cellValueFactory" ref="linkManCell" />
	</bean>



	<!-- 文件菜单标签 -->
	<bean id="fileMenu" class="fx.hq.ui.top.menu.VarargsMenu">
		<constructor-arg>
			<list>
				<ref bean="exitItem" />
			</list>
		</constructor-arg>
		<property name="text" value="文件" />
	</bean>

	<bean id="exitItem" class="javafx.scene.control.MenuItem">
		<property name="text" value="退出" />
		<property name="onAction" ref="exitEventHandler" />
	</bean>

	<bean id="toolMenu" class="fx.hq.ui.top.menu.VarargsMenu">
		<constructor-arg>
			<list>
				<ref bean="sendSmsItem" />
				<ref bean="sendMailItem" />
			</list>
		</constructor-arg>
		<property name="text" value="工具" />
	</bean>
	<bean id="sendSmsItem" class="javafx.scene.control.MenuItem">
		<property name="text" value="发送短信" />
	</bean>
	<bean id="sendMailItem" class="javafx.scene.control.MenuItem">
		<property name="text" value="发送邮件" />
	</bean>

	<!-- 帮助菜单标签 -->
	<bean id="helpMenu" class="fx.hq.ui.top.menu.VarargsMenu">
		<constructor-arg>
			<list>
				<ref bean="aboutItem" />
			</list>
		</constructor-arg>
		<property name="text" value="帮助" />
	</bean>
	<bean id="aboutItem" class="javafx.scene.control.MenuItem">
		<property name="text" value="关于程序" />
	</bean>

	<bean id="exitEventHandler" class="fx.hq.ui.event.ExitEventHandler">
	</bean>

</beans>